body {
    font-family: Arial, sans-serif;
    background-color: lightgray; 
    color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0400ff;
    text-align: center;
    margin-top: 20px;
}

h2{
    color: #0400ff;
    text-align: center;
    margin: 20px;
}

h3{
    color: #0400ff;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

ul {
    text-align: center;
    display: inline-block;
}

ul li {
    display: inline-block; 
    padding: 10px; 
}