body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray; 
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #0400ff;
    text-align: center;
    margin-top: 20px;
}

h2{
    color: #0400ff;
    text-align: center;
    margin: 20px;
}

h3{
    color: #0400ff;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    background-color: whitesmoke;
}

ul {
    text-align: center;
    display: inline-block;
}

ul li {
    display: inline-block; 
    padding: 10px; 
}


#eventBox {
    background-color: lightgray;
    padding: 30px;
    margin: 20px auto;
    max-width: 300px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
